<a href="https://colab.research.google.com/github/tinemyumi/saude-mental-datasus/blob/main/codigos-python/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pysus

Requirement already satisfied: pysus in /usr/local/lib/python3.12/dist-packages (1.0.0)
Requirement already satisfied: Unidecode<2.0.0,>=1.3.6 in /usr/local/lib/python3.12/dist-packages (from pysus) (1.4.0)
Requirement already satisfied: aioftp<0.22.0,>=0.21.4 in /usr/local/lib/python3.12/dist-packages (from pysus) (0.21.4)
Requirement already satisfied: bigtree<0.13.0,>=0.12.2 in /usr/local/lib/python3.12/dist-packages (from pysus) (0.12.5)
Requirement already satisfied: dateparser<2.0.0,>=1.1.8 in /usr/local/lib/python3.12/dist-packages (from pysus) (1.2.2)
Requirement already satisfied: dbfread==2.0.7 in /usr/local/lib/python3.12/dist-packages (from pysus) (2.0.7)
Requirement already satisfied: elasticsearch==7.16.2 in /usr/local/lib/python3.12/dist-packages (from elasticsearch[preprocessing]==7.16.2->pysus) (7.16.2)
Requirement already satisfied: fastparquet<=2024.11.0,>=2023.10.1 in /usr/local/lib/python3.12/dist-packages (from pysus) (2024.11.0)
Requirement already satisfied: humanize<5.0.0,>=4.8.0 in /usr/local/lib/python3.12/dist-packages (from pysus) (4.13.0)
Requirement already satisfied: loguru<0.7.0,>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pysus) (0.6.0)
Requirement already satisfied: numpy<3,>1 in /usr/local/lib/python3.12/dist-packages (from pysus) (2.0.2)
Requirement already satisfied: pandas<3.0.0,>=2.2.2 in /usr/local/lib/python3.12/dist-packages (from pysus) (2.2.2)
Requirement already satisfied: pyarrow>=11.0.0 in /usr/local/lib/python3.12/dist-packages (from pysus) (18.1.0)
Requirement already satisfied: pycparser==2.21 in /usr/local/lib/python3.12/dist-packages (from pysus) (2.21)
Requirement already satisfied: pyreaddbc>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from pysus) (1.2.0)
Requirement already satisfied: python-dateutil==2.8.2 in /usr/local/lib/python3.12/dist-packages (from pysus) (2.8.2)
Requirement already satisfied: tqdm==4.64.0 in /usr/local/lib/python3.12/dist-packages (from pysus) (4.64.0)
Requirement already satisfied: typing-extensions<5.0.0,>=4.9.0 in /usr/local/lib/python3.12/dist-packages (from pysus) (4.15.0)
Requirement already satisfied: urwid<3.0.0,>=2.1.2 in /usr/local/lib/python3.12/dist-packages (from pysus) (2.6.16)
Requirement already satisfied: wget<4.0,>=3.2 in /usr/local/lib/python3.12/dist-packages (from pysus) (3.2)
Requirement already satisfied: urllib3<2,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from elasticsearch==7.16.2->elasticsearch[preprocessing]==7.16.2->pysus) (1.26.20)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from elasticsearch==7.16.2->elasticsearch[preprocessing]==7.16.2->pysus) (2025.8.3)
WARNING: elasticsearch 7.16.2 does not provide the extra 'preprocessing'
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil==2.8.2->pysus) (1.17.0)
Requirement already satisfied: pytz>=2024.2 in /usr/local/lib/python3.12/dist-packages (from dateparser<2.0.0,>=1.1.8->pysus) (2025.2)
Requirement already satisfied: regex>=2024.9.11 in /usr/local/lib/python3.12/dist-packages (from dateparser<2.0.0,>=1.1.8->pysus) (2024.11.6)
Requirement already satisfied: tzlocal>=0.2 in /usr/local/lib/python3.12/dist-packages (from dateparser<2.0.0,>=1.1.8->pysus) (5.3.1)
Requirement already satisfied: cramjam>=2.3 in /usr/local/lib/python3.12/dist-packages (from fastparquet<=2024.11.0,>=2023.10.1->pysus) (2.11.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.12/dist-packages (from fastparquet<=2024.11.0,>=2023.10.1->pysus) (2025.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from fastparquet<=2024.11.0,>=2023.10.1->pysus) (25.0)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas<3.0.0,>=2.2.2->pysus) (2025.2)
Requirement already satisfied: cffi<2,>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from pyreaddbc>=1.1.0->pysus) (1.17.1)
Requirement already satisfied: pyyaml>=6 in /usr/local/lib/python3.12/dist-packages (from pyreaddbc>=1.1.0->pysus) (6.0.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from urwid<3.0.0,>=2.1.2->pysus) (0.2.13)

Para acessar os dados no google drive, rode o seguinte código:

In [15]:
# Código para acessar os dados no Google Drive

from google.colab import drive
import pandas as pd
import os

# 1. Monta o seu Google Drive no Colab
drive.mount('/content/drive')

# 2. Define o caminho da pasta onde os arquivos estão salvos no Google Drive
caminho_dados_drive = '/content/drive/MyDrive/DadoDataSUS/dados_sih/'

# Verifica se a pasta existe para evitar erros
if os.path.exists(caminho_dados_drive):
    print("A pasta foi encontrada no Google Drive. Listando arquivos...")

    # Lista todos os arquivos na pasta para visualização
    arquivos_na_pasta = os.listdir(caminho_dados_drive)
    print(arquivos_na_pasta)

    # Exemplo: Se os arquivos são CSVs, você pode ler um deles assim:
    # Substitua 'nome_do_seu_arquivo.csv' pelo nome do arquivo que você quer ler.
    # Por exemplo: df = pd.read_csv(os.path.join(caminho_dados_drive, 'RDSP1501.DBC'))

else:
    print("Erro: A pasta de dados não foi encontrada. Verifique se o caminho está correto.")

print("\nProcesso concluído!")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
A pasta foi encontrada no Google Drive. Listando arquivos...
['dados_datasus']

Processo concluído!

# **Análise Exploratória do Dataset**

Instale as bibliotecas necessárias

In [ ]:
!pip install pandas
!pip install pyarrow

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.12/dist-packages (18.1.0)

In [3]:
import pandas as pd

# Carregando o arquivo em um dataframe
df = pd.read_parquet('/content/drive/MyDrive/DadoDataSUS/dados_sih/dados_datasus/2015_concatenado.parquet')
df_ibge = pd.read_parquet('/content/drive/MyDrive/DadoDataSUS/dados_ibge/populacao_residente_municipio_2015.parquet')

In [ ]:
# 5 primeiras linhas do DataFrame
df.head()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,351870,2015,01,02,48697338000170,3514126841236,1,11443411,351870,19920608,...,,1,0,0,0,0,0,0,0,0
1,351870,2015,01,02,48697338000170,3514126841247,1,11450420,351870,19851201,...,,1,0,0,0,0,0,0,0,0
2,351870,2015,01,02,48697338000170,3514126841258,1,11450000,351870,19740702,...,,1,0,0,0,0,0,0,0,0
3,351870,2015,01,02,48697338000170,3514126841269,1,11450490,351870,19850128,...,,1,0,0,0,0,0,0,0,0
4,351870,2015,01,02,48697338000170,3515101632548,1,11430000,351870,19951021,...,,1,0,0,0,0,0,0,0,0

In [ ]:
# 5 últimas linhas do DataFrame
df.tail()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
2493363,350000,2015,12,01,46374500013415,3515120087732,1,05791220,355030,19901123,...,,0,0,0,0,0,0,0,0,0
2493364,350000,2015,12,01,46374500013415,3515120087831,1,06773060,355280,19581109,...,,1,0,0,0,0,0,0,0,0
2493365,350000,2015,12,01,46374500013415,3515120087842,1,06785060,355280,19511209,...,,0,0,0,0,0,0,0,0,0
2493366,350000,2015,12,01,46374500013415,3515120087853,1,06843260,351500,19860604,...,,0,0,0,0,0,0,0,0,0
2493367,350000,2015,12,01,46374500013415,3515120087864,1,06786270,355280,19890610,...,,0,0,0,0,0,0,0,0,0

In [ ]:
# Exemplo aleatório de 10 linhas
df.sample(n=10)

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
1271299,354520,2015,07,01,60975737007598,3515117650462,1,13324280,354520,19610604,...,,0,0,0,0,0,0,0,0,0
672502,355360,2015,04,03,48626493000104,3515109725699,1,13760000,355360,19340120,...,,0,0,0,0,0,0,0,0,0
1131576,350000,2015,06,03,50753755000135,3515112039076,1,13616540,352670,19480411,...,,0,0,0,0,0,0,0,0,0
1109119,350000,2015,06,04,62220637000302,3508101196380,5,07082050,351880,19670315,...,,1,0,0,0,0,0,0,0,0
479034,350000,2015,03,01,47844287000108,3515105561473,1,15600000,351550,19640916,...,,0,0,0,0,0,0,0,0,0
2308172,350000,2015,12,03,46374500008845,3515123547639,1,07600000,352850,19550225,...,,0,0,0,0,0,0,0,0,0
590502,352050,2015,03,05,06352252000166,3515104537395,1,13331255,352050,19950529,...,,0,0,0,0,0,0,0,0,0
1679942,354990,2015,08,01,60194990000682,3515117985005,1,12214000,354990,19380718,...,,0,0,0,0,0,0,0,0,0
2243925,350000,2015,11,01,,3515122867685,1,15370000,353740,19940206,...,,0,0,0,0,0,0,0,0,0
257747,350000,2015,02,04,62220637000302,3508101192244,5,07082050,351880,19650708,...,,1,0,0,0,0,0,0,0,0

In [ ]:
# Print de todas as colunas do dataframe
print(list(df.columns.values))

['UF_ZI', 'ANO_CMPT', 'MES_CMPT', 'ESPEC', 'CGC_HOSP', 'N_AIH', 'IDENT', 'CEP', 'MUNIC_RES', 'NASC', 'SEXO', 'UTI_MES_IN', 'UTI_MES_AN', 'UTI_MES_AL', 'UTI_MES_TO', 'MARCA_UTI', 'UTI_INT_IN', 'UTI_INT_AN', 'UTI_INT_AL', 'UTI_INT_TO', 'DIAR_ACOM', 'QT_DIARIAS', 'PROC_SOLIC', 'PROC_REA', 'VAL_SH', 'VAL_SP', 'VAL_SADT', 'VAL_RN', 'VAL_ACOMP', 'VAL_ORTP', 'VAL_SANGUE', 'VAL_SADTSR', 'VAL_TRANSP', 'VAL_OBSANG', 'VAL_PED1AC', 'VAL_TOT', 'VAL_UTI', 'US_TOT', 'DT_INTER', 'DT_SAIDA', 'DIAG_PRINC', 'DIAG_SECUN', 'COBRANCA', 'NATUREZA', 'NAT_JUR', 'GESTAO', 'RUBRICA', 'IND_VDRL', 'MUNIC_MOV', 'COD_IDADE', 'IDADE', 'DIAS_PERM', 'MORTE', 'NACIONAL', 'NUM_PROC', 'CAR_INT', 'TOT_PT_SP', 'CPF_AUT', 'HOMONIMO', 'NUM_FILHOS', 'INSTRU', 'CID_NOTIF', 'CONTRACEP1', 'CONTRACEP2', 'GESTRISCO', 'INSC_PN', 'SEQ_AIH5', 'CBOR', 'CNAER', 'VINCPREV', 'GESTOR_COD', 'GESTOR_TP', 'GESTOR_CPF', 'GESTOR_DT', 'CNES', 'CNPJ_MANT', 'INFEHOSP', 'CID_ASSO', 'CID_MORTE', 'COMPLEX', 'FINANC', 'FAEC_TP', 'REGCT', 'RACA_COR', 'ETNIA', 'SEQUENCIA', 'REMESSA', 'AUD_JUST', 'SIS_JUST', 'VAL_SH_FED', 'VAL_SP_FED', 'VAL_SH_GES', 'VAL_SP_GES', 'VAL_UCI', 'MARCA_UCI', 'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3', 'DIAGSEC4', 'DIAGSEC5', 'DIAGSEC6', 'DIAGSEC7', 'DIAGSEC8', 'DIAGSEC9', 'TPDISEC1', 'TPDISEC2', 'TPDISEC3', 'TPDISEC4', 'TPDISEC5', 'TPDISEC6', 'TPDISEC7', 'TPDISEC8', 'TPDISEC9']

In [ ]:
# Informações sobre as colunas
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2493368 entries, 0 to 2493367
Columns: 113 entries, UF_ZI to TPDISEC9
dtypes: object(113)
memory usage: 2.1+ GB
None

In [18]:
# Mostra estatísticas descritivas para as colunas numéricas
print(df.describe())

          UF_ZI ANO_CMPT MES_CMPT    ESPEC        CGC_HOSP          N_AIH  \
count   2493368  2493368  2493368  2493368         2493368        2493368
unique      296        1       12       15             510        2390632
top      350000     2015       05       03                  3508107933319
freq    1197564  2493368   215982   831880          452749             14

          IDENT       CEP MUNIC_RES      NASC  ... DIAGSEC9 TPDISEC1 TPDISEC2  \
count   2493368   2493368   2493368   2493368  ...  2493368  2493368  2493368
unique        2    176054      2668     36889  ...        1        3        3
top           1  07082050    355030  20150114  ...                 0        0
freq    2381371      7244    598291       465  ...  2493368  1695978  2374195

       TPDISEC3 TPDISEC4 TPDISEC5 TPDISEC6 TPDISEC7 TPDISEC8 TPDISEC9
count   2493368  2493368  2493368  2493368  2493368  2493368  2493368
unique        3        3        3        3        3        1        1
top           0        0        0        0        0        0        0
freq    2455847  2481030  2488952  2491804  2493042  2493368  2493368

[4 rows x 113 columns]

# **Preparação dos Dados: Verificando valores ausentes**

É importante saber se há dados faltando.

In [ ]:
# Conte o número de valores ausentes em cada coluna
print(df.isnull().sum())

UF_ZI       0
ANO_CMPT    0
MES_CMPT    0
ESPEC       0
CGC_HOSP    0
           ..
TPDISEC5    0
TPDISEC6    0
TPDISEC7    0
TPDISEC8    0
TPDISEC9    0
Length: 113, dtype: int64

In [ ]:
import numpy as np
df = df.replace('',np.nan)

# **Filtrando dados sobre saúde mental no Estado de São Paulo**

- Os códigos CID-10 para transtornos mentais e comportamentais variam de F00 a F99.
- Código para o estado de São Paulo = 35

In [46]:
# Dados sobre saúde mental (CID-10 F00-F99)
df_saude_mental = df[df['DIAG_PRINC'].str.startswith('F', na=False)].copy()
# Internações do estado de São Paulo (código 35)
df_saude_mental = df_saude_mental[df_saude_mental['UF_ZI'].str.startswith('35', na=False)].copy()

# Colunas para analisar
colunas_analise = ['UF_ZI', 'ANO_CMPT', 'MES_CMPT', 'ESPEC', 'MUNIC_RES', 'DIAG_PRINC', 'CID_ASSO', 'CID_MORTE', 'DT_INTER', 'DT_SAIDA', 'DURACAO_INTERNACAO_DIAS', 'QT_DIARIAS', 'DIAS_PERM']

# Conversão para formato de data
df_saude_mental['DT_INTER'] = pd.to_datetime(df_saude_mental['DT_INTER'])
df_saude_mental['DT_SAIDA'] = pd.to_datetime(df_saude_mental['DT_SAIDA'])

# Conversão da duração da internação em dias
df_saude_mental['DURACAO_INTERNACAO_DIAS'] = (df_saude_mental['DT_SAIDA'] - df_saude_mental['DT_INTER']).dt.days

df_saude_mental[colunas_analise]

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,MUNIC_RES,DIAG_PRINC,CID_ASSO,CID_MORTE,DT_INTER,DT_SAIDA,DURACAO_INTERNACAO_DIAS,QT_DIARIAS,DIAS_PERM
696,351880,2015,01,05,351880,F29,0000,0000,2014-12-28,2014-12-31,3,3,3
697,351880,2015,01,05,351880,F060,0000,0000,2014-12-16,2014-12-20,4,4,4
698,351880,2015,01,05,351880,F09,0000,0000,2014-12-29,2015-01-05,7,7,7
699,351880,2015,01,05,351880,F09,0000,0000,2014-12-30,2015-01-06,7,7,7
700,351880,2015,01,05,351880,F29,0000,0000,2015-01-01,2015-01-03,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2491859,350000,2015,12,03,353060,F192,0000,0000,2015-12-03,2015-12-31,28,28,28
2491861,350000,2015,12,03,355030,F192,0000,0000,2015-12-01,2015-12-04,3,3,3
2492113,350000,2015,12,03,355030,F059,0000,0000,2015-12-03,2015-12-04,1,1,1
2492563,350000,2015,12,03,352310,F150,0000,0000,2015-11-19,2015-11-21,2,2,2
2492817,350000,2015,12,03,354980,F103,0000,0000,2015-10-14,2015-10-21,7,8,7

# **Filtrando dados de população apenas sobre o estado de São Paulo.**

O código para o estado de São Paulo é 35, então estamos filtrando todos os municípios que começam com 35.

- D1C = Município (código)
- A coluna D1C_6_DIGITOS foi adicionada para acrescentar os códigos dos municípios, excluindo o último dígito, uma vez que ele é o dígito verificador do IBGE e o DATASUS utiliza o formato com os 6 primeiros digítos.

In [57]:
# Filtra o dataframe original do IBGE (df_ibge) para incluir as linhas onde o código da coluna 'D1C' começa com 35 que é o código de SP.
df_sp = df_ibge[df_ibge['D1C'].str.startswith('35', na=False)].copy()

# Nova coluna que recebe os primeiros 6 caracteres da coluna D1C
df_sp['D1C_6_DIGITOS'] = df_sp['D1C'].str[:6]

df_sp.head()

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D1C_6_DIGITOS
3268,6,Município,45,Pessoas,35048,3500105,Adamantina - SP,2015,2015,9324,População residente estimada,350010
3269,6,Município,45,Pessoas,3623,3500204,Adolfo - SP,2015,2015,9324,População residente estimada,350020
3270,6,Município,45,Pessoas,34863,3500303,Aguaí - SP,2015,2015,9324,População residente estimada,350030
3271,6,Município,45,Pessoas,8025,3500402,Águas da Prata - SP,2015,2015,9324,População residente estimada,350040
3272,6,Município,45,Pessoas,18313,3500501,Águas de Lindóia - SP,2015,2015,9324,População residente estimada,350050

# **Análise Exploratória**

**Legenda:**
- **internacoes_psiquiatricas:** Número de internações psiquiátricas por município de residência.
- **internacoes_por_100k **= taxa de internações por 100.000 habitantes
-** Baixo Acesso (0 a 50 internações por 100k habitantes):** Representa os municípios com uma taxa muito baixa de internações. Isso pode sugerir que há pouca oferta de serviços hospitalares de saúde mental ou que os pacientes dessas cidades precisam se deslocar para outras.
- **Médio Acesso (50 a 150 internações por 100k habitantes):** Representa os municípios com uma taxa intermediária de internações.
- **Alto Acesso (150 ou mais internações por 100k habitantes):** Representa os municípios com uma taxa muito alta de internações. Isso pode indicar que essas cidades são grandes centros de saúde mental, que atendem tanto a sua própria população quanto pacientes de outras cidades (os que você chamou de "pacientes exportados").

In [58]:
# Número de internações por município de residência
internacoes_por_municipio = df_saude_mental.groupby('MUNIC_RES').size().reset_index(name='internacoes_psiquiatricas')
print(internacoes_por_municipio)

    MUNIC_RES  internacoes_psiquiatricas
0      110004                          1
1      110011                          1
2      110012                          1
3      110020                          3
4      130260                          2
..        ...                        ...
741    521150                         12
742    521740                          5
743    521880                          3
744    530010                         14
745    530050                          1

[746 rows x 2 columns]

In [61]:
# Junção dos conjuntos de dados (internação e população)
df_completo = pd.merge(internacoes_por_municipio, df_sp, left_on='MUNIC_RES', right_on='D1C_6_DIGITOS', how='left')

# Conversão do formato da coluna V (Valor da População) para numérico
df_completo['V'] = pd.to_numeric(df_completo['V'], errors='coerce')

# Cálculo da taxa internações por 100k: nº internações de cada município / população normalizada para 100.000 habitantes
df_completo['internacoes_por_100k'] = (df_completo['internacoes_psiquiatricas'] / df_completo['V']) * 100000

bins = [0, 50, 150, float('inf')]
labels = ['Baixo Acesso', 'Médio Acesso', 'Alto Acesso']
df_completo['nivel_acesso'] = pd.cut(df_completo['internacoes_por_100k'], bins=bins, labels=labels, right=False)


print(df_completo['nivel_acesso'].value_counts())

nivel_acesso
Alto Acesso     433
Médio Acesso    149
Baixo Acesso     38
Name: count, dtype: int64