<a href="https://colab.research.google.com/github/tinemyumi/saude-mental-datasus/blob/main/codigos-python/merge_anos_sihsus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Relatório**

**Integrantes**
- Larissa Yumi Tinem
- Leo Tsuchida Hoçoya

**Conteúdo**
- Concatenação dos arquivos do SIH-SUS (2022-2024)
- Upload do arquivo concatenado para .xlxs no Drive para análise posterior

**/Histórico de alterações:**
- 08/10/2025 - Larissa Yumi Tinem - Concatenação e upload no Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

arquivos = [
    '/content/drive/MyDrive/Dataframes/2022.xlsx',
    '/content/drive/MyDrive/Dataframes/2023.xlsx',
    '/content/drive/MyDrive/Dataframes/2024.xlsx'
]

anos = [2022,2023,2024]

lista_df = []

for arquivo, ano in zip(arquivos, anos):
  df = pd.read_excel(arquivo)
  df['ANO'] = ano
  lista_df.append(df)

df_total = pd.concat(lista_df)

df_total['ANO_CMPT'].value_counts()

ANO_CMPT
2024    93107
2023    90355
2022    82290
Name: count, dtype: int64

In [ ]:
df_total.to_excel('/content/drive/MyDrive/Dataframes/df_total.xlsx', index=False)